

.title{
  margin: 1% auto;
  background-color: rgb(23, 226, 114);
  max-width: 1000px;
  min-width: 700px;
  height: 10vh;
  min-height: 80px;

}

.converterContainer{
  margin: 1% auto;
  background-color: rgb(230, 200, 49);
  max-width: 1000px;
  min-width: 700px;
  height: 70vh;
  min-height: 600px;
}

.base1{
  width: 30%;
  height: 10%;
  background-color: rgb(116, 22, 195);
  position: relative;
  top: 10%;
  left: 10%;
}

.base2{
  width: 30%;
  height: 10%;
  background-color: rgb(25, 67, 91);
  position: relative;
  left: 60%;
}

.input1{
  width:29.2%;
  height:20%;
  background-color:rgb(64, 202, 210);
  position: relative;
  left: 10%;
  margin-top: 5%;
}

.input2{
  width:30%;
  height:20.5%;
  background-color:rgb(128, 5, 12);
  position: relative;
  left: 60%;
  top: -21.5%;
}

.convertButton{
  width:25%;
  height:15%;
  background-color:rgb(5, 6, 161);
  position: relative;
  top:-10%;
  left: 37%;
}

.arrow{
  width:10%;
  height:10%;
  background-color:rgb(204, 137, 37);
  position :relative;
  top: -74.5%;
  left: 46%;
}

#cuerpo{
  width:50%;
  height:50%;
  background-color:white;
  position: relative;
  top:25%;
}

#punta1{


  width:50%;
  height:50%;
  background-color:white;
  position: relative;
  left: 50%;
  top: -50%;
}

#punta2{
  width:50%;
  height:50%;
  background-color:white;
  position: relative;
  left: 50%;
  top: -50%;
}

#punta3{

  width:70%;
  height:50%;
  background-color:inherit;
  position: relative;
  top: -168%;
  left: 45%;
  transform: rotate(42deg);
}

#punta4{

  width:70%;
  height:50%;
  background-color:inherit;
  position: relative;
  top: -132%;
  left: 45%;
  transform: rotate(-42deg);
}
